body,
h1,
p,
hr,
div {
  margin: 0;
  padding: 0; }

body {
  font-family: sans-serif; }

button {
  border: none; }

* {
  box-sizing: border-box; }

.clear {
  clear: both; }

.hidden {
  display: none !important; }

header.header .header-text {
  height: 125px;
  display: flex;
  align-items: flex-end;
  font-size: 25px;
  font-weight: bold;
  color: #848688; }

.new-todo,
.list-container {
  width: 100%; }
