.btn {
  text-transform: uppercase;
  font: {
    size: 14px;
    weight: bold;
  }
  padding: 15px 20px;
  border-radius: 5px;
  cursor: pointer;

  &.green {
    background-color: $green-3;
    color: $white-color;
  }

  &.long {
    padding-left: 70px;
    padding-right: 70px;
  }
}
